body {
    margin-top: 125px;;
}

tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

th {
    background-color: rgb(222, 222, 222);
    border: 1px solid rgb(222, 222, 222);
    border-collapse: collapse;
    text-align: left;
}

td {
    border: 1px solid rgb(222, 222, 222);
    border-collapse: collapse;
    text-align: left;
    width: 250px;
}

table {
    border: 1px solid rgb(222, 222, 222);
    border-collapse: collapse;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    width: 90%;
    margin: auto;
}

tr:hover {
    background-color: rgb(0, 0, 0);
}

tr:hover td {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
