body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

section.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 25%;
}

section.container h2 {
    margin: 0;
}

section.container p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 1.5em;
}